<div id="expenseDialog" class="modal">
    <div class="modal-background"></div>
    Bạn thử bấm sdt mình nha: 0905690989
Mk: Denhoda12@
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" id="dialogTitle">Add Expense</p>
            <button id="closeDialog" class="delete" ></button>
        </header>
        <section class="modal-card-body">
            <form id="expenseForm" method="post" action="{{ url_for('main.add_expense') }}">

                <input type="hidden" id="currentPage" name="page" value="{{ page }}">
                <input type="hidden" id="pageSize" name="size" value="{{ size }}">
                <input type="hidden" id="expenseId" name="expenseId" value="">
                <div class="field">
                    <label class="label" for="description">Description:</label>
                    <div class="control">
                        <input class="input" type="text" id="description" name="description" placeholder="Expense Description" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="amount">Amount:</label>
                    <div class="control">
                        <input class="input" type="number" id="amount" name="amount" step="1" placeholder="Expense Amount" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="date">Date:</label>
                    <div class="control">
                      <input class="input is-fullwidth custom-date-picker" type="date" id="dateAdd" name="date" required>
                    </div>
                  </div>
                <div class="field">
                    <label class="label" for="category">Category:</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="category" name="category" required>
                                <option value="">Select Category</option>
                                <option value="Food">Food</option>
                                <option value="Transport">Transport</option>
                                <option value="Entertainment">Entertainment</option>
                                <option value="Utilities">Utilities</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button id="submitExpense" form="expenseForm" type="submit" class="button is-primary">Save Expense</button>
            <button class="button" id="cancelDialog">Cancel</button>
        </footer>
    </div>
</div>

<script>
    document.getElementById('openExpenseDialog').addEventListener('click', function() {
        openExpenseDialog('Add Expense', '', '', '', '', '', '{{ url_for("main.add_expense") }}');
    });

    document.getElementById('closeDialog').addEventListener('click', closeExpenseDialog);
    document.getElementById('cancelDialog').addEventListener('click', closeExpenseDialog);

    function closeExpenseDialog() {
        document.getElementById('expenseDialog').classList.remove('is-active');
        document.getElementById('expenseForm').reset();
    }

    function openExpenseDialog(title, id, description, amount, date, category, actionUrl) {
        
        document.getElementById('dialogTitle').textContent = title;
        document.getElementById('expenseId').value = id;
        document.getElementById('description').value = description;
        document.getElementById('amount').value = amount;
        document.getElementById('dateAdd').value = date;
        document.getElementById('category').value = category;
        document.getElementById('expenseForm').action = actionUrl;
        document.getElementById('expenseDialog').classList.add('is-active');
        document.getElementById('currentPage').value = '{{ page }}';
        document.getElementById('pageSize').value = '{{ size }}';
    }

    function editExpense(expenseId, description, category, date, amount) {
        openExpenseDialog('Edit Expense', expenseId, description, amount, date, category, '{{ url_for("main.edit_expense") }}');
    }

    document.querySelector('form[action="/add_expense"]').addEventListener('submit', function(event) {
        showToast('Expense added successfully!', 'success');
    });
    // load current date
    document.addEventListener('DOMContentLoaded', (event) => {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('dateAdd').value = today;
            console.log('as')
        });
    function deleteExpense(expenseId) {
      
    }
</script>
