html[data-theme='dark'] {
    background-color: #121212;
    color: #e0e0e0 !important;
  }
  
  html[data-theme='dark'] .navbar {
    background-color: #1f1f1f;
  }
  
  html[data-theme='dark'] .box,
  html[data-theme='dark'] .card {
    background-color: #1e1e1e;
    box-shadow: 0 .5em 1em -.125em rgb(187 185 185), 0 0 0 1px rgb(93 69 69);
    color: #e0e0e0;
  }
  
  html[data-theme='dark'] .button {
    background-color: #444;
    color: #e0e0e0;
  }
  
  html[data-theme='dark'] .is-primary {
    background-color: #6200ee;
  }
  
  html[data-theme='dark'] .pagination-link {
    color: white;
  }
  html[data-theme='dark'] .container {
    background: radial-gradient(#6f6a6a, transparent)
  }
  html[data-theme='dark'] #theme-toggle {
    /* background-color: #6200ee; */
    color: white;
  }

  