{% extends "base.html" %} 

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Family Expenses Management</h1>

        <div class="columns">
            <div class="column has-text-right">
                <button class="button is-link" id="addFamilyBtn">+ Add Family</button>
            </div>
        </div>
        {% include 'family/add.html' %}

        
        {% for family in families %}
        <div class="box mt-2 mb-5">
            
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="is-size-4">{{family.family_name}}</h1>
                </div>
                <div class="column has-text-right">
                    <button class="button is-primary" id="openModalBtn{{family.id}}">+ Add Family Member</button>
                </div>
            </div>
            <div class="modal" id="familyModal{{family.id}}">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Add Family Member</p>
                        <button class="delete" aria-label="close" id="closeModalBtn{{family.id}}"></button>
                    </header>
                    <section class="modal-card-body">
                        <form action="/add_member" method="post">
                            <input type="hidden" name="family_id" value="{{family.id}}" />
                            <div class="field">
                                <label class="label">Username</label>
                                <div class="control">
                                    <input class="input" type="text" name="member_name" placeholder="Enter member username" required>
                                </div>
                            </div>
                            <div class="control">
                                <button class="button is-primary" type="submit">Send Invitation</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
            <div class="columns ">
                <div class="column is-one-third">
                  <div class="box has-text-centered">
                    <h2 class="subtitle has-text-danger">{{_('Total This Year')}}</h2>
                    <p id="totalYear">{{family.data.total_family.total_year}}</p>
                  </div>
                </div>
          
                <div class="column is-one-third">
                  <div class="box has-text-centered">
                    <h2 class="subtitle has-text-primary">{{_('Total This Month')}}</h2>
                    <p id="totalMonth">{{family.data.total_family.total_month}}</p>
                  </div>
                </div>
          
                <div class="column is-one-third">
                  <div class="box has-text-centered">
                    <h2 class="subtitle has-text-info">{{_('Total This Week')}}</h2>
                    <p id="totalWeek">{{family.data.total_family.total_week}}</p>
                  </div>
                </div>
              </div>
            <h3 class="subtitle">Family Members Overview</h3>
            
            <table  class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th a>Name</th>
                        <th>Total Spend Week</th>
                        <th>Spend This Month</th>
                        <th>Spend This Year</th>
                        <th>Current Location</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in family.data.members %}
                    <tr>
                    <td ><a class="is-link" href="/profile">{{member.name}}</a></td>
                    <td>{{member.total_week}}</td>
                    <td>{{member.total_month}}</td>
                    <td>{{member.total_year}}</td>
                    <td>NA</td>
                    <td>
                        <div class="buttons are-small">
                            <button type="button" class="button is-danger is-light" onclick="">Delete</button>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% endfor %}
    </div>
</section>
{% endblock %}
{% block js%}

<script>
    // JavaScript to handle modal opening and closing
    document.getElementById('addFamilyBtn').addEventListener('click', function() {
      document.getElementById('addFamilyModal').classList.add('is-active');
    });
  
    document.getElementById('closeModal').addEventListener('click', function() {
      document.getElementById('addFamilyModal').classList.remove('is-active');
    });
  
    document.getElementById('cancelBtn').addEventListener('click', function() {
      document.getElementById('addFamilyModal').classList.remove('is-active');
    });
    document.addEventListener('DOMContentLoaded', function() {

        {{ families | tojson }}.forEach(element => {
            console.log(1)
        addListener(element.id)
    });
   function addListener(id){
       
       var btn = 'openModalBtn' + id
       var modal = 'familyModal' + id
       var clsbtn = 'closeModalBtn' + id
       console.log(btn)
    document.getElementById(btn).addEventListener('click', function () {
            document.getElementById(modal).classList.add('is-active');
        });

        document.getElementById(clsbtn).addEventListener('click', function () {
            document.getElementById(modal).classList.remove('is-active');
        });

        // Close modal when clicking outside
        document.querySelector('.modal-background').addEventListener('click', function () {
            document.getElementById(modal).classList.remove('is-active');
        });
   }
    })
   
  </script>
{% endblock %}
