<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Pig Save{% endblock %}</title>
    <link rel="manifest" href="static/manifest.json">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="static/css/darkmode.css">

    {% block css %}{% endblock %}
    <style>
      .filter-form .control {
        margin-right: 0 !important;
        margin-left: 0;
      }
      .toast {
            position: fixed;
            top: 1rem;
            right: 1rem;
            z-index: 9999;
            max-width: 300px;
            display: none;
        }
        .toast.show {
            display: block;
        }
    </style>
  </head>
  <body>
    <div id="toast-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="toast notification is-{{ category }}">
                      <button class="delete"></button>
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
  </div>
    <nav
      class="navbar is-primary"
      role="navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('main.dashboard') }}">
          <strong>Pig Save</strong>
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('main.dashboard') }}">
            Home
          </a>

          <a class="navbar-item" href="{{ url_for('main.expenses') }}">
            My Expenses
          </a>

          <a class="navbar-item" href="{{ url_for('main.profile') }}">
            Profile
          </a>
          <a class="navbar-item" href="{{ url_for('main.family') }}">
            Family
          </a>
        </div>
        {% if current_user.is_authenticated %}
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <button id="theme-toggle" class="button">Dark Mode</button>
              <a href="{{ url_for('main.profile') }}">
                <span class="button is-primary">
                  Hi {{ current_user.username }}
                </span>
              </a>
              <a class="button is-light" href="{{ url_for('main.logout') }}">
                <strong>Logout</strong>
              </a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </nav>

    <main>{% block content %} {% endblock %}</main>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>2024 Pig Save. All rights reserved.</p>
      </div>
    </footer>
    <script>
      const toggleButton = document.getElementById('theme-toggle');
      toggleButton.addEventListener('click', () => {
          const currentTheme = document.documentElement.getAttribute('data-theme');
          const newTheme = currentTheme === 'light' ? 'dark' : 'light';
          document.documentElement.setAttribute('data-theme', newTheme);
          localStorage.setItem('theme', newTheme);
      });

      // Check localStorage for saved theme
      const savedTheme = localStorage.getItem('theme');
      if (savedTheme) {
          document.documentElement.setAttribute('data-theme', savedTheme);
      }
  </script>
   <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/static/js/sw.js')
      .then(() => console.log('Service Worker Registered'))
      .catch((err) => console.log('Service Worker registration failed: ', err));
    }
  </script>
    <script>
      
      document.addEventListener("DOMContentLoaded", () => {
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        $navbarBurgers.forEach((el) => {
          el.addEventListener("click", () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle("is-active");
            $target.classList.toggle("is-active");
          });
        });

        var toastElements = document.querySelectorAll('.toast');
            toastElements.forEach(function (toast) {
                toast.classList.add('show');
                // Hide toast after 3 seconds
                setTimeout(function () {
                    toast.classList.remove('show');
                }, 3000);
            });

            // Close toast on button click
            document.querySelectorAll('.toast .delete').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    btn.parentElement.classList.remove('show');
                });
            });
      });

     
    </script>

    {% block js %}{% endblock %}
  </body>
</html>
