<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Pig Save{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    {% block css %}{% endblock %}
    <style>
      .filter-form .control {
        margin-right: 0 !important;
        margin-left: 0;
      }
       .toast-container {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9999;
    }
    .toast {
        background-color: #333;
        color: #fff;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    .toast.show {
        opacity: 1;
    }
    .toast.success {
        background-color: #48c774;
    }
    .toast.error {
        background-color: #ff3860;
    }
    </style>
  </head>
  <body>
    <div id="toastContainer" class="toast-container">
    </div>
    <nav
      class="navbar is-primary"
      role="navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('main.dashboard') }}">
          <strong>Pig Save</strong>
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('main.dashboard') }}">
            Home
          </a>

          <a class="navbar-item" href="{{ url_for('main.expenses') }}">
            My Expenses
          </a>

          <a class="navbar-item" href="{{ url_for('main.profile') }}">
            Profile
          </a>
          <a class="navbar-item" href="{{ url_for('main.family') }}">
            Family
          </a>
        </div>
        {% if current_user.is_authenticated %}
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="{{ url_for('main.profile') }}">
                <span class="button is-primary">
                  Hi {{ current_user.username }}
                </span>
              </a>
              <a class="button is-light" href="{{ url_for('main.logout') }}">
                <strong>Logout</strong>
              </a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </nav>

    <main>{% block content %} {% endblock %}</main>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>2024 Pig Save. All rights reserved.</p>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        $navbarBurgers.forEach((el) => {
          el.addEventListener("click", () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle("is-active");
            $target.classList.toggle("is-active");
          });
        });
      });

      function showToast(message, type = 'success') {
        const toastContainer = document.getElementById('toastContainer');
        
        const toast = document.createElement('div');
        toast.className = `toast ${type}`;
        toast.innerText = message;

        toastContainer.appendChild(toast);

        setTimeout(() => {
            toast.classList.add('show');
        }, 100);

        setTimeout(() => {
            toast.classList.remove('show');
            setTimeout(() => {
                toastContainer.removeChild(toast);
            }, 500);
        }, 3000); 
    }
    </script>

    {% block js %}{% endblock %}
  </body>
</html>
