

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pig Save</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/darkmode.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="manifest" href="static/manifest.json">
</head>
<body>
<nav class="navbar is-transparent">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Expenses Tracker Logo" width="150" height="80">
            </a>
            <div class="navbar-burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{{ url_for('auth.register') }}">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="{{ url_for('auth.login') }}">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="add-to-home" class="add-to-home" style="display: none;">
    <p>To install this app on your home screen, tap the Share icon and then select "Add to Home Screen".</p>
    <button id="dismiss-banner">Got it</button>
</div>

<button id="install-button" class="button is-primary" style="display:none;"> Install App</button>
<section class="hero is-halfheight-with-navbar">
   
</button>
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                {{_('Take Control of Your Finances')}}
            </h1>
            <h2 class="subtitle is-3">
                Track, analyze, and optimize your expenses with ease
            </h2>
            <a href="{{ url_for('auth.register') }}" class="button is-primary is-large">Get Started</a>
        </div>
    </div>
</section>

<div id="features" class="p-4">
    <div class="container p-4">
        <h2 class="title is-2 has-text-centered">Features</h2>
        <div class="columns is-multiline">
            <div class="column is-4">
                <div class="has-text-centered">
                    <span class="icon feature-icon has-text-primary">
                        <i class="fas fa-chart-pie"></i>
                    </span>
                    <h3 class="has-text-weight-bold is-5 m-b-2">Categorization</h3>
                    <p>Categorize your expenses</p>
                </div>
            </div>
            <div class="column is-4">
                <div class="has-text-centered">
                    <span class="icon feature-icon has-text-primary">
                        <i class="fas fa-mobile-alt"></i>
                    </span>
                    <h3 class="has-text-weight-bold is-5 m-b-2">Mobile App</h3>
                    <p>Coming Soon</p>
                </div>
            </div>
            <div class="column is-4">
                <div class="has-text-centered">
                    <span class="icon feature-icon has-text-primary">
                        <i class="fas fa-lock"></i>
                    </span>
                    <h3 class="has-text-weight-bold is-5 m-b-2">Secure</h3>
                    <p>Your financial data is protected</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="about" class="section has-background-light">
    <div class="container">
        <h2 class="has-text-weight-bold is-size-2 has-text-centered">About Us</h2>
        <p class="has-text-centered is-size-6">
            {{_('Aboutt')}}
        </p>
    </div>
</section>


</body>
<script>
    const toggleButton = document.getElementById('theme-toggle');
    toggleButton.addEventListener('click', () => {
        const currentTheme = document.documentElement.getAttribute('data-theme');
        const newTheme = currentTheme === 'light' ? 'dark' : 'light';
        document.documentElement.setAttribute('data-theme', newTheme);
        localStorage.setItem('theme', newTheme);
    });

    // Check localStorage for saved theme
    const savedTheme = localStorage.getItem('theme');
    if (savedTheme) {
        document.documentElement.setAttribute('data-theme', savedTheme);
    }
</script>
<script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/static/js/sw.js')
      .then(() => console.log('Service Worker Registered'))
      .catch((err) => console.log('Service Worker registration failed: ', err));
    }
  </script>
  <script>
    let deferredPrompt;

    // Listen for the 'beforeinstallprompt' event
    window.addEventListener('beforeinstallprompt', (e) => {
        // Prevent the mini-infobar from appearing
        e.preventDefault();
        // Store the event so it can be triggered later
        deferredPrompt = e;
        // Show the install button or any custom UI
        document.getElementById('install-button').style.display = 'block';
    });

    // Handle the install button click
    document.getElementById('install-button').addEventListener('click', async () => {
        if (deferredPrompt) {
            // Show the install prompt
            deferredPrompt.prompt();
            // Wait for the user to respond
            const choiceResult = await deferredPrompt.userChoice;
            if (choiceResult.outcome === 'accepted') {
                console.log('User accepted the install prompt');
            } else {
                console.log('User dismissed the install prompt');
            }
            // Reset the deferred prompt variable
            deferredPrompt = null;
        }
    });

    // Check if the app is already installed
    window.addEventListener('appinstalled', () => {
        console.log('PWA was installed');
        document.getElementById('install-button').style.display = 'none';
    });
    document.addEventListener('DOMContentLoaded', function() {
    const addToHomeBanner = document.getElementById('add-to-home');
    const dismissBannerButton = document.getElementById('dismiss-banner');
    
    // Function to check if the user is on iOS
    function isIOS() {
        return /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    }

    // Function to check if the app is installed
    function isAppInstalled() {
        return window.matchMedia('(display-mode: standalone)').matches;
    }

    // Show the banner if not installed and user is on iOS
    if (isIOS() && !isAppInstalled()) {
        addToHomeBanner.style.display = 'block';
    }

    // Dismiss the banner
    dismissBannerButton.addEventListener('click', function() {
        addToHomeBanner.style.display = 'none';
    });
});

</script>