<!DOCTYPE html>
<html>
<head>
    <title>Welcome to PigSave</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    
</head>
<body>
    <div class="container">
        <h1>Welcome to PigSave</h1>
        <p>The ultimate solution for managing your finances with ease and efficiency. Designed to help you take control of your spending, PigSave offers a user-friendly interface that makes tracking your expenses a breeze.
        </p>
        <a href="{{ url_for('main.login') }}" class="btn">Login</a>
    </div>
</body>
</html>
