{% extends "base.html" %} 
{% block css %}

<style>
    .profile-picture {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 3px solid #00d1b2; /* Adds a border to the profile picture */
        margin-bottom: 10px;
    }
   
</style>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">My Profile</h1>
        <div class="profile-header">
            <div class="columns is-centered">
                <div class="column has-text-centered">
                    <img src="https://via.placeholder.com/150" alt="Profile Picture" class="profile-picture">
                    <h2 class="title">{{ current_user.name }}</h2>
                    <p class="subtitle">@kunwalle</p>
                </div>
            </div>
        </div>
        <div class="profile-info">
            <div class="columns">
                <div class="column is-half">
                    <div class="box">
                        <h3 class="subtitle">Basic Information</h3>
                        <p><strong>Email:</strong> {{ current_user.email }}</p>
                        <p><strong>Phone:</strong> {{ current_user.phone }}</p>
                        <p><strong>Address:</strong> {{ current_user.address }}</p>
                        <form action="{{ url_for('main.update_language') }}" method="POST">
                            <div class="field">
                                <label class="label" for="language">Preferred Language:</label>
                                <div class="control">
                                    <div class="select">
                                        <select id="language" name="language">
                                            <option value="en" {% if current_user.language == 'en' %}selected{% endif %}>English</option>
                                            <option value="vi" {% if current_user.language == 'vi' %}selected{% endif %}>Vietnamese</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button type="submit" class="button is-link">Save</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
                <div class="column is-half">
                    <div class="box">
                        <h3 class="subtitle">About Me</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet euismod urna, a tempus libero commodo eget.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}